:root {
  --branding-color: #3b5c6f;
  --secondary-color: #ededef;
  --heading-font-family: "Rubik", sans-serif;
  --default-font-family: "Nunito", sans-serif;
}

body {
  color: black;
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  text-align: center;
}

h1 {
  font-size: 96px;
}

h2 {
  color: var(--branding-color);
  font-size: 30px;
}

h4 {
  font-size: 30px;
}

h6 {
  font-style: italic;
}

footer {
  margin: 60px 0;
}

.job-roles {
  color: var(--branding-color);
}

footer .contact-box {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 30px 120px;
}

footer .contact-box p {
  margin: 0 auto;
}

footer .email-link {
  color: var(--branding-color);
  font-size: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

footer .email-link:hover {
  text-decoration: underline;
}

footer .social-links a {
  background-color: var(--secondary-color);
  border-radius: 50%;
  color: var(--branding-color);
  font-size: 22px;
  margin: 0 20px;
  padding: 11px 16px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  background-color: var(--branding-color);
  color: whitesmoke;
}

footer .coded-by {
  color: var(--branding-color);
  text-decoration: none;
}

.active {
  color: var(--branding-color) !important;
  font-weight: bold;
}

.hero {
  background-image: url(../images/background.jpg);
  background-size: cover;
  border-radius: 5px;
  padding: 20px 20px;
  text-align: center;
}

.hero h1 {
  margin-top: 120px;
}
.hero h2 {
  color: black;
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
}

.hero a {
  margin-bottom: 230px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: whitesmoke;
  font-size: 18px;
  line-height: 27px;
  margin-top: 15px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-weight: bold;
}

.projects {
  display: block;
  margin: 0 auto;
  max-height: 400px;
}

.contact-container {
  text-align: center;
}
.contact-container h1 {
  font-size: 45px;
}
.contact-container a {
  color: var(--branding-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 24px;
  }

  .hero h1 {
    margin-top: 100px;
  }

  .hero h2 {
    font-size: 20px;
  }
  .content {
    text-align: center;
  }
  .portfolio-link {
    text-align: center;
  }
}
